.Recipes_container{
    background-color: #f9f7eb;
    height: auto;
    padding: 70px 100px;
}
.Recipes_title{
    font-size: 5rem;
    color: #637303;
    font-weight: 500;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #637303;
    padding-bottom: 20px;
}
.Body_header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
    font-size: 1.5rem;
    font-weight: 500;
}
.Body_filters{
    display: flex;
    text-align: left;
    width: 100%;
    padding-top: 20px;
}
.Body_filter_category{
    width: 30%;
    padding: 7px 4px;
    border-radius: 30px;
    border: none;
    background-color: #fefdf9;
    cursor: pointer;
}
.Body_filter_country{
    width: 30%;
    padding: 7px 4px;
    border-radius: 30px;
    border: none;
    background-color: #fefdf9;
    cursor: pointer;
    margin-left: 30px;
}
.Body_posts{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px 0px;
}
.Body_post{
    background-color:#fefdf9;
    border: none;
    outline: none;
    border-radius: 20px;
    margin: 15px 0px;
    width: 250px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(239, 241, 207, 0.2), 0 6px 20px 0 rgba(184, 191, 140, 0.19);
}
.Post_title{
    display: flex;
    justify-content: space-between;
}
.post_title{
    padding: 20px 15px 10px 15px;
    font-size: 1.3rem;
    font-weight: 500;
}
.post_notification{
    margin: 10px 10px;
    background-color: rgb(247, 247, 247);
}
.post_image{
    width: 100%;
    height: 200px;
}
.post_note{
    margin: 20px 10px;
    color: gray;
}
.post_btn{
    margin: 30px 0px 15px 15px;
    border: none;
    background-color: inherit;
    font-size: 1rem;
    cursor: pointer;
}
.post_category{
    color: gray;
    font-size: 0.9rem;
}
.post_country{
 color: gray;
    font-size: 0.9rem;
}