.Main{
    background-color: #f9f7eb;
    height: calc(100vh);
    width: 100%;
    align-items: center;
    text-align: center;
}
.Main_first{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 1000px;
}
.Main_first_1{
    width: 50%;
}
.Main_first_img{
    width: 400px;
    height: 400px;
}
.First_btn{
    display: flex;
    justify-content: space-between;
}





.Main_first_2{
    width: 50%;
}
.First_1{
    display: flex;
}
.Main_first_2_img{
    width: 250px;
    height: 250px;
}